@import "./variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cream);
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card {
  
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 343px;
  height: 613px;
  background-image: url(./images/image-product-mobile.jpg);
  background: white;
  border-radius: 10px;
  margin: 28px auto;
}

.product-image1 {
  width: 343px;
  border-radius: 10px 10px 0 0;
}

.product-image2 {
  display: none;
  width: 343px;
  border-radius: 10px 10px 0 0;
}

.product-text {
  display: flex;
  flex-direction: column;
  font-family: var(--montserrat);
  padding: 27px 24px;
}

.product-cat {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
  letter-spacing: 0.3rem;
  margin-bottom: 17px;
}

.product-title {
  font-family: var(--fraunces);
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.product-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  color: var(--very-dark-blue);
}

.prices {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 18px;
}

.product-price {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 24px;
  font-family: var(--fraunces);
  color: var(--dark-cyan);
  font-size: 24px;
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  font-weight: lighter;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.cart-btn {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; */
  width: 295px;
  height: 48px;
  outline: none;
  border: none;
  background: var(--dark-cyan);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--White);
  cursor: pointer;
}

.cart-btn:hover {
  background: var(--very-dark-blue);
}

img {
  margin-right: 10px;
}

.attribution {
  font-family: var(--montserrat);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUARRIES */
/* Media quarry for screens with min width of 1440px */
@media screen and (min-width: 1440px) {
  .product-card {
    flex-wrap: wrap;
    width: 602px;
    height: 450px;
    background: white;
    margin: 176px auto;
  }

  .product-image1 {
  display: none;
  width: 343px;
  border-radius: 10px 10px 0 0;
}
  .product-image2 {
  display: block;
  width: 300px;
  height: 450px;
  border-radius: 10px 0 0 10px;
}

  /* .product-text {
    /* padding: 27px 10px 23px 18px; */
} */

.product-cat {
  font-size: 10px;
  margin-bottom: 35;
}

.product-title {
  font-size: 1.5rem;
  width: 150px;
  margin-bottom: 27px;
}

.product-description {
  width: 190px;
  font-size: 11px;
  margin-bottom: 35px;
}

.prices {
  margin-bottom: 35px;
}

.cart-btn {
  width: 180px;
  height: 36px;
  font-size: 12px;
  border-radius: 5px;
}

}
